# ------------------------------------------------
# 忽略编译生成的目录
# ------------------------------------------------
build/

# CLion 默认生成的构建目录
cmake-build-debug/
cmake-build-release/
cmake-build-*/

# ------------------------------------------------
# 忽略 IDE 的配置文件
# ------------------------------------------------
# CLion 的配置目录
.idea/
# VSCode 的配置目录 (虽然你现在用CLion，但为了兼容队友)
.vscode/

# ------------------------------------------------
# 常见的编译垃圾文件
# ------------------------------------------------
*.bin
*.hex
*.elf
*.map
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.d